*{
    margin: 0;
    padding: 0;
}


#virus_img {
    border-radius: 1%;
}

#bg-tagline{
    /* background: linear-gradient(#9F44D3,#FF6644); */
    background: linear-gradient(#E2B0FF,#9F44D3);
}
#bg-about{
    background: linear-gradient(#9F44D3,#2C3335);
}
#bg-symptoms{
    background: linear-gradient(#2C3335,#9F44D3);
}
#bg-prevention{
    background: linear-gradient(#9F44D3,#F6416C);
}

#info-gif{
    width: 100%;
    border-radius: 3%;
}
